#logo{

    display: grid;
    grid-template-columns: auto 95vw auto;
    grid-template-areas: ". logo .";
    height: 100vh;

    @include md{
        grid-template-columns: auto 80vw auto;
    }

    @include lg{
        grid-template-columns: auto 85vw auto;
    }

    @include xl{
        grid-template-columns: auto 75vw auto;
    }

    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: logo;
        height: 100%;

        svg{

        }
    }
}