#preloader{

    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: $blue;

    // ---------------------------
    // CSS Grid option
    // ---------------------------
    // display: grid;
    // grid-template-columns: auto 90vw auto;
    // grid-template-areas: ". preloader .";

    // @include md{
    //     grid-template-columns: auto 70vw auto;
    // }

    // @include lg{
    //     grid-template-columns: auto 60vw auto;
    // }

    // @include xl{
    //     grid-template-columns: auto 50vw auto;
    // }

    >div{
        // ---------------------------
        // CSS Grid option
        // ---------------------------
        //grid-area: preloader;


        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;

        section{
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                font-weight: 300;
                margin-top: 20%;
                color: $white;
                font-size: rem-calc(40);
            }
        }  
    }
}